<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}Kabinetti</title>


	<meta name="author" content="Kabinetti.org">  
  <meta property="og:title" content="Kabinetti" />
  <meta property="og:site_name" content="Kabinetti" />
  <meta property="og:description" content="Kabinetti on turkulainen Internet-ammattilaisten yhteisö, joka kokoontuu epäsäännöllisesti oluen äärelle pohtimaan Internetin saloja." />

	<meta name="viewport" content="width=device-width,maximum-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Kreon:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body class="{{ page.classes }}">

<a href="https://github.com/Kabinetti/kabinetti.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<div id="container">
	<header id="branding">
    <nav id="navigation">
      <div class="inner">
        {% include navigation.html %}
      </div>
    </nav>
	</header>
<div class="sidebar" style="float: left;">
  <h2>Uutta</h2>
{% for post in site.posts limit: 1 %}
  <article class="news">
    <hgroup>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="writer">{{ post.date | date: "%d.%m.%Y" }} / {{ post.author }}</p>
    </hgroup>
    {{ post.content | truncate: 150 }}
    <p class="call-to-action"><a href="{{ post.url }}">Lue lisää</a></p>
  </article>
{% endfor %}
</div>
<div class="sidebar" style="float: right">
  <h3>Kabinetti muualla</h3>
  <ul>
    <li><a href="http://groups.google.com/group/kabinettiorg">subscribe</a> kabi<em>netti</em>.org</li>
    <li><a href="http://www.facebook.com/group.php?gid=137564585225">join</a> Facebook group</li>
    <li><a href="https://plus.google.com/communities/110454993238461765363">join</a> Google+ community</li>
    <li><a href="http://www.linkedin.com/groups?gid=1842539">connect</a> on LinkedIn</li>
  </ul>
  <p><a class="twitter-timeline"  href="https://twitter.com/search?q=%23kabinettiorg"  data-widget-id="329891353066602496">Tweets about "#kabinettiorg"</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div>
<div id="content">
